<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283720524531-7u258o7l8jv0uhkcv2jsbk11qff55lf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283720524531-7u258o7l8jv0uhkcv2jsbk11qff55lf0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>283720524531-b0k8fjk3tvr7pd9povg32l10njmksevn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk93u3qoW9PQDFGgne6cYMmPThG6pTK3s</string>
	<key>GCM_SENDER_ID</key>
	<string>283720524531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foxcoin.social</string>
	<key>PROJECT_ID</key>
	<string>chatter-2ee95</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-2ee95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283720524531:ios:72e1e9b52b091a3fea0d86</string>
</dict>
</plist>